*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    min-height: 8vh;
    font-family: 'Rubik 80s Fade', cursive;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    cursor: pointer;
    
}

.logo a{
    text-decoration: none;
    color: white;
}

.nav-links{

    display: flex;
    justify-content: space-around;
    width: 50%;
    
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 30px;

}

.nav-links li{
    list-style: none;
}

body.index{
    background-image: url(images/biopic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body.about{
    background-image: url(images/city18.jpeg);
    background-repeat: no-repeat;
    background-size: cover;    
    height: min-content;
}

body.work{
    background-image: url(images/city2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body.projects{
    background-image: url(images/city11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


